<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" type="png" href="images/icon/favicon.png">
	<link rel="stylesheet" type="text/css" href="css/firstpage.css">
  	</head>
<body>

    <h1 class="start"> who's your favourite? </h1>

    <h1 class="heading">Please select atleast 3 artists</h1>

    <form action="/firsttimelogin" method="post">

       <div class="box">
        <img src="images/Artists/Harry Styles.jpeg"
					style="height:140px; width:150px;">
          <div class="insidebox"><input type="checkbox" name="artist1" value="harry styles"> Harry Styles<br></div>
       </div>

        <div class="box">
        <img src="images/Artists/The Weekend.jpeg"
					style="height:140px; width:150px;">
          <div class="insidebox"><input type="checkbox" name="artist2" value="The Weekend"> The Weekend<br></div>
       </div>

        <div class="box">
        <img src="images/Artists/21 Savage.jpeg"
					style="height:140px; width:150px;">
          <div class="insidebox"><input type="checkbox" name="artist3" value="21 Savage"> 21 savage<br></div>
       </div>

        <div class="box">
        <img src="images/Artists/Drake.jpeg"
					style="height:140px; width:150px;">
          <div class="insidebox"><input type="checkbox" name="artist4" value="Drake"> Drake<br></div>
       </div>


        <div class="box">
        <img src="images/Artists/The 1975.png"
					style="height:140px; width:150px;">
          <div class="insidebox"><input type="checkbox" name="artist5" value="The 1975"> The 1975<br></div>
       </div>

        <div class="box">
        <img src="images/Artists/Justin Bieber.jpeg"
					style="height:140px; width:150px;">
          <div class="insidebox"><input type="checkbox" name="artist6" value="Justin Bieber"> Justin Bieber<br></div>
       </div>

        <div class="box">
        <img src="images/Artists/Diljit Dosanjh.jpeg"
					style="height:140px; width:150px;">
          <div class="insidebox"><input type="checkbox" name="artist7" value="Diljit Dosanjh"> Diljit Dosanjh<br></div>
       </div>

        <div class="box">
        <img src="images/Artists/Shubh.jpeg"
					style="height:140px; width:150px;">
          <div class="insidebox"><input type="checkbox" name="artist8" value="Shubh"> Shubh<br></div>
       </div>

        <div class="box">
        <img src="images/Artists/Karan Aujla.jpeg"
					style="height:140px; width:150px;">
          <div class="insidebox"><input type="checkbox" name="artist9" value="Karan Aujla"> Karan Aujla<br></div>
       </div>

        <div class="box">
        <img src="images/Artists/MC Stan.jpeg"
					style="height:140px; width:150px;">
          <div class="insidebox"><input type="checkbox" name="artist10" value="MC Stan"> MC Stan<br></div>
       </div>

        <div class="box">
        <img src="images/Artists/Badshah!!!.jpeg"
					style="height:140px; width:150px;">
          <div class="insidebox"><input type="checkbox" name="artist11" value="Badshah"> Badshah<br></div>
       </div>

        <div class="box">
        <img src="images/Artists/AP Dhillon.jpeg"
					style="height:140px; width:150px;">
          <div class="insidebox"><input type="checkbox" name="artist12" value="AP Dhillon"> AP Dhillon<br></div>
       </div>

        <div class="box">
        <img src="images/Artists/Charlie Puth.jpeg"
					style="height:140px; width:150px;">
          <div class="insidebox"><input type="checkbox" name="artist13" value="Charlie Puth"> Charlie Puth<br></div>
       </div>
       
        <div class="box">
        <img src="images/Artists/King.jpeg"
					style="height:140px; width:150px;">
          <div class="insidebox"><input type="checkbox" name="artist14" value="King"> King<br></div>
       </div>

        <div class="box">
        <img src="images/Artists/Krsna.jpeg"
					style="height:140px; width:150px;">
          <div class="insidebox"><input type="checkbox" name="artist15" value="kr$na"> kr$na<br></div>
       </div>

        <div class="box">
        <img src="images/Artists/Seedhe Maut.jpeg"
					style="height:140px; width:150px;">
          <div class="insidebox"><input type="checkbox" name="artist16" value="Seedhe Maut"> Seedhe Maut<br></div>
       </div>

        <div class="box">
        <img src="images/Artists/Sidhu Moose Wala.jpeg"
					style="height:140px; width:150px;">
          <div class="insidebox"><input type="checkbox" name="artist17" value="Sidhu Moose Wala"> Sidhu Moose Wala<br></div>
       </div>

        <div class="box">
        <img src="images/Artists/Liam Payne.jpeg"
					style="height:140px; width:150px;">
          <div class="insidebox"><input type="checkbox" name="artist18" value="Liam Payne"> Liam Payne<br></div>
       </div>

        <div class="box">
        <img src="images/Artists/Zayn.jpeg"
					style="height:140px; width:150px;">
          <div class="insidebox"><input type="checkbox" name="artist19" value="Zayn"> Zayn<br></div>
       </div>

        <div class="box">
        <img src="images/Artists/One Direction.jpeg"
					style="height:140px; width:150px;">
          <div class="insidebox"><input type="checkbox" name="artist20" value="One Direction"> One Direction<br></div>
       </div>
    
  <input class="submit" type="submit" value="Submit">
    </form> 
    
</body>
</html>